.about-page {
    overflow: auto;
    height: calc(100vh - 75px);

    .intro {
        margin: 2.8em 0;

        h1 {
            margin-bottom: 16px;
        }

        p {
            margin-bottom: 16px;
        }

    }

    .main-container {

    }

    ul {
        padding-inline-start: 40px;
    }

    h1, h2, h3, p, li {
        color: white;
    }

    a, a:visited, a:hover, a:active {
        color: white;
    }

}
