.about-page {
  overflow: auto;
  height: calc(100vh - 75px); }
  .about-page .intro {
    margin: 2.8em 0; }
    .about-page .intro h1 {
      margin-bottom: 16px; }
    .about-page .intro p {
      margin-bottom: 16px; }
  .about-page ul {
    padding-inline-start: 40px; }
  .about-page h1, .about-page h2, .about-page h3, .about-page p, .about-page li {
    color: white; }
  .about-page a, .about-page a:visited, .about-page a:hover, .about-page a:active {
    color: white; }
