.dashboard-page {
  background-color: #333333;
  display: flex;
  height: calc(100vh - 75px); }
  .dashboard-page .main-container {
    display: flex;
    padding: 0; }
  .dashboard-page aside {
    flex-basis: 320px;
    width: 320px;
    background-color: #444;
    border-radius: 4px;
    padding: 20px;
    height: fit-content; }
    .dashboard-page aside .item {
      margin-bottom: 4px;
      cursor: pointer;
      position: relative; }
      .dashboard-page aside .item > span {
        font-family: 'Gilroy';
        font-weight: 800;
        color: white;
        font-size: 1.6em;
        letter-spacing: 2px; }
      .dashboard-page aside .item svg {
        fill: white;
        width: 36px;
        height: 36px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px; }
    .dashboard-page aside .sub-item {
      margin-bottom: 4px;
      margin-top: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer; }
      .dashboard-page aside .sub-item span {
        font-weight: 700;
        color: white;
        font-size: 1.2em; }
  .dashboard-page .feed-container {
    flex-basis: calc(100% - 320px);
    width: calc(100% - 320px);
    overflow: scroll; }
  @media (max-width: 760px) {
    .dashboard-page {
      height: unset; }
      .dashboard-page .main-container {
        display: block; }
        .dashboard-page .main-container aside {
          width: calc(100% - 20px);
          margin: 0 10px; }
        .dashboard-page .main-container .feed-container {
          width: 100%; }
          .dashboard-page .main-container .feed-container .options {
            display: flex;
            justify-content: flex-end; } }
  @media (max-width: 550px) {
    .dashboard-page .options {
      display: block !important; }
      .dashboard-page .options .keyword-search {
        width: calc(100% - 112px); }
        .dashboard-page .options .keyword-search input {
          width: 100% !important; } }
