@import './components/Colors.scss';

.dashboard-page {
    // min-height: 100vh;
    background-color: #333333;
    display: flex;
    height: calc(100vh - 75px);

    .main-container {
        display: flex;
        padding: 0;
    }

    aside {
        flex-basis: 320px;
        width: 320px;
        background-color: #444;
        // min-height: 100vh;
        border-radius: 4px;
        padding: 20px;
        height: fit-content;

        .item {
            margin-bottom: 4px;
            cursor: pointer;
            position: relative;

            &>span {
                font-family: 'Gilroy';
                font-weight: 800;
                color: white;
                font-size: 1.6em;
                letter-spacing: 2px;
            }

            svg {
                fill: white;
                width: 36px;
                height: 36px;
                position: absolute;
                top: 0;
                right: 0;
                padding: 4px;
            }

        }

        .sub-item {
            margin-bottom: 4px;
            margin-top: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;

            span {
                font-weight: 700;
                color: white;
                font-size: 1.2em;
            }

        }

    }

    .feed-container {
        flex-basis: calc(100% - 320px);
        width: calc(100% - 320px);
        overflow: scroll;
        // min-height: 100vh;
    }

    @media (max-width: 760px) {
        height: unset;

        .main-container {
            display: block;

            aside {
                width: calc(100% - 20px);
                margin: 0 10px;
            }

            .feed-container {
                width: 100%;

                .options {
                    display: flex;
                    justify-content: flex-end;
                }

            }

        }

    }

    @media (max-width: 550px) {

        .options {
            display: block !important;

            .keyword-search {
                width: calc(100% - 112px);

                input {
                    width: 100% !important;;
                }

            }

        }

    }

}
