@import './components/Colors.scss';

.feed-container {
    padding: 20px;
    max-width: 1800px;
    overflow: auto;
    height: 100vh;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            color: white;
            width: calc(100% - 370px);
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 20px;
            margin: 0;
        }

        .options {
            display: inline-block;
            display: flex;
            align-items: center;
            width: 370px;

            .keyword-search {
                display: inline-block;
                margin-right: 2px;

                input {
                    width: 260px;
                    border-radius: 4px;
                    border: none;
                    background: white;
                    padding: 8px 16px;
                }

            }

            .dropdown {
                display: inline-block;

                button {
                    padding: 0;
                    background-color: transparent;
                    border: none;

                    svg {
                        margin-left: 8px;
                    }

                }

            }

            svg {
                width: 44px;
                height: 44px;
                fill: white;
                margin-left: 12px;
                cursor: pointer;
            }

        }

        .dropdown-menu {
            padding: 12px;

            button {
                margin-bottom: 6px;

                &:last-child {
                    margin-bottom: 0;
                }

            }

        }

    }

    .posts {
        max-width: 800px;
        padding-bottom: 52px;
    }

    .fullscreen-spinner-container {
        height: calc(100% - 28px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner-container {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .no-results-container {
        height: calc(100% - 28px);
        display: flex;
        align-items: center;
        justify-content: center;

        &>div {
            text-align: center;

            h2, p {
                color: white;
            }

        }

    }

    @media (max-width: 1040px) {

        header {
            display: block;

            h2, .options {
                width: 100% ;
                flex-basis: 100% ;
            }

            h2 {
                padding-right: 0;
                margin-bottom: 12px !important;
            }

            .options {

                .keyword-search {

                }

            }

        }

    }

    @media (max-width: 760px) {

    }

}
