.feed-container {
  padding: 20px;
  max-width: 1800px;
  overflow: auto;
  height: 100vh; }
  .feed-container header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .feed-container header h2 {
      color: white;
      width: calc(100% - 370px);
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 20px;
      margin: 0; }
    .feed-container header .options {
      display: inline-block;
      display: flex;
      align-items: center;
      width: 370px; }
      .feed-container header .options .keyword-search {
        display: inline-block;
        margin-right: 2px; }
        .feed-container header .options .keyword-search input {
          width: 260px;
          border-radius: 4px;
          border: none;
          background: white;
          padding: 8px 16px; }
      .feed-container header .options .dropdown {
        display: inline-block; }
        .feed-container header .options .dropdown button {
          padding: 0;
          background-color: transparent;
          border: none; }
          .feed-container header .options .dropdown button svg {
            margin-left: 8px; }
      .feed-container header .options svg {
        width: 44px;
        height: 44px;
        fill: white;
        margin-left: 12px;
        cursor: pointer; }
    .feed-container header .dropdown-menu {
      padding: 12px; }
      .feed-container header .dropdown-menu button {
        margin-bottom: 6px; }
        .feed-container header .dropdown-menu button:last-child {
          margin-bottom: 0; }
  .feed-container .posts {
    max-width: 800px;
    padding-bottom: 52px; }
  .feed-container .fullscreen-spinner-container {
    height: calc(100% - 28px);
    display: flex;
    align-items: center;
    justify-content: center; }
  .feed-container .spinner-container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .feed-container .no-results-container {
    height: calc(100% - 28px);
    display: flex;
    align-items: center;
    justify-content: center; }
    .feed-container .no-results-container > div {
      text-align: center; }
      .feed-container .no-results-container > div h2, .feed-container .no-results-container > div p {
        color: white; }
  @media (max-width: 1040px) {
    .feed-container header {
      display: block; }
      .feed-container header h2, .feed-container header .options {
        width: 100%;
        flex-basis: 100%; }
      .feed-container header h2 {
        padding-right: 0;
        margin-bottom: 12px !important; } }
