.home-page {
  min-height: 100vh;
  background-color: #333333;
  display: flex; }
  .home-page .main-container {
    justify-content: flex-end;
    display: flex;
    padding: 0;
    max-width: 1000px; }
    .home-page .main-container main {
      width: 500px;
      padding-left: 40px; }
      .home-page .main-container main .header {
        margin-bottom: 20px; }
        .home-page .main-container main .header svg {
          width: 52px;
          height: 52px;
          fill: #FFA34D; }
        .home-page .main-container main .header h1 {
          color: #FFA34D;
          display: inline-block;
          position: relative;
          top: 12px;
          font-size: 2.4rem; }
      .home-page .main-container main .body {
        margin-bottom: 20px; }
        .home-page .main-container main .body p {
          font-size: 1.2em;
          color: white;
          margin-bottom: 20px; }
    .home-page .main-container aside {
      flex-basis: 360px;
      min-height: 100vh;
      position: absolute;
      top: 0;
      left: calc(50% - 410px);
      transform: translate(-50%, 0px);
      overflow: hidden; }
      .home-page .main-container aside .feeds {
        height: 100vh;
        display: flex; }
        .home-page .main-container aside .feeds .feed {
          display: inline-block;
          position: relative;
          width: 240px;
          overflow: auto;
          margin-right: 20px;
          align-items: center;
          justify-content: center;
          display: flex;
          overflow: hidden; }
          .home-page .main-container aside .feeds .feed:last-child {
            margin-right: 0; }
          .home-page .main-container aside .feeds .feed label {
            position: absolute;
            top: 15px;
            left: 15px;
            font-weight: 800;
            font-family: "Gilroy";
            background-color: white;
            color: #333;
            border-radius: 10px;
            padding: 8px 20px;
            z-index: 10;
            width: 200px;
            text-align: center;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12); }
          .home-page .main-container aside .feeds .feed .items {
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: unset; }
            .home-page .main-container aside .feeds .feed .items .item {
              width: 100%;
              flex-basis: 100%;
              margin: 8px 0;
              border-radius: 5px;
              background-color: #444;
              padding: 15px; }
              .home-page .main-container aside .feeds .feed .items .item h3, .home-page .main-container aside .feeds .feed .items .item p {
                opacity: 0.1;
                color: white;
                margin-bottom: 0; }
              .home-page .main-container aside .feeds .feed .items .item h3 {
                font-size: 1em; }
              .home-page .main-container aside .feeds .feed .items .item p {
                font-size: 0.9em; }
              .home-page .main-container aside .feeds .feed .items .item[data-match="true"] {
                background-color: #FFA34D; }
                .home-page .main-container aside .feeds .feed .items .item[data-match="true"] h3, .home-page .main-container aside .feeds .feed .items .item[data-match="true"] p {
                  color: #333;
                  opacity: 1; }
                .home-page .main-container aside .feeds .feed .items .item[data-match="true"] h3 {
                  margin-bottom: 8px; }
              .home-page .main-container aside .feeds .feed .items .item.image {
                padding: 0;
                overflow: hidden; }
                .home-page .main-container aside .feeds .feed .items .item.image img {
                  width: 100%; }
                .home-page .main-container aside .feeds .feed .items .item.image:nth-child(2) img, .home-page .main-container aside .feeds .feed .items .item.image:nth-child(5) img {
                  opacity: 0.1; }
  @media (max-width: 1100px) {
    .home-page aside {
      display: none; }
    .home-page main {
      margin: auto;
      padding: 0 15px !important; } }
  @media (max-width: 500px) {
    .home-page {
      display: block;
      padding: 15px !important; }
      .home-page .options a {
        display: block;
        margin: 0;
        text-align: center;
        margin-bottom: 20px; }
      .home-page h1 {
        display: block !important;
        padding: 0 !important; } }
