@import './components/Colors.scss';

.home-page {
    min-height: 100vh;
    background-color: #333333;
    display: flex;

    .main-container {
        justify-content: flex-end;
        display: flex;
        padding: 0;
        max-width: 1000px;

        main {
            width: 500px;
            padding-left: 40px;

            .header {
                margin-bottom: 20px;

                svg {
                    width: 52px;
                    height: 52px;
                    fill: $orange;
                }

                h1 {
                    color: $orange;
                    display: inline-block;
                    // padding-left: 12px;
                    position: relative;
                    top: 12px;
                    font-size: 2.4rem;
                }

            }

            .body {
                margin-bottom: 20px;

                p {
                    font-size: 1.2em;
                    color: white;
                    margin-bottom: 20px;
                }

            }

            .options {



            }

        }

        aside {
            flex-basis: 360px;
            // background-color: #444;
            min-height: 100vh;
            position: absolute;
            top: 0;
            left: calc(50% - 410px);
            transform: translate(-50%, 0px);
            overflow: hidden;

            .feeds {
                height: 100vh;
                display: flex;

                .feed {
                    display: inline-block;
                    position: relative;
                    width: 240px;
                    // height: 100vh;
                    overflow: auto;
                    margin-right: 20px;
                    // background-color: rgba(0,0,0,0.1);
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    overflow: hidden;

                    &:last-child {
                        margin-right: 0;
                    }

                    label {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        font-weight: 800;
                        font-family: "Gilroy";
                        background-color: white;
                        color: #333;
                        border-radius: 10px;
                        padding: 8px 20px;
                        z-index: 10;
                        width: 200px;
                        text-align: center;
                        box-shadow: 0 4px 16px rgba(0,0,0,.12);
                    }

                    .items {
                        overflow: hidden;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        height: unset;

                        .item {
                            width: 100%;
                            flex-basis: 100%;
                            // height: 240px;
                            margin: 8px 0;
                            border-radius: 5px;
                            background-color: #444;
                            padding: 15px;

                            h3, p {
                                opacity: 0.1;
                                color: white;
                                margin-bottom: 0;
                            }

                            h3 {
                                font-size: 1em;
                            }

                            p {
                                font-size: 0.9em;
                            }

                            &[data-match="true"] {
                                background-color: $orange;

                                h3, p {
                                    color: #333;
                                    opacity: 1;
                                }

                                h3 {
                                    margin-bottom: 8px;
                                }

                            }

                            &.image {
                                padding: 0;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                }

                                &:nth-child(2), &:nth-child(5) {
                                    img {
                                        opacity: 0.1;
                                    }
                                }

                            }

                        }

                    }

                }

            }

        }

    }

    @media (max-width: 1100px) {

        aside {
            display: none;
        }

        main {
            margin: auto;
            padding: 0 15px !important;
        }

    }

    @media (max-width: 500px) {
        display: block;
        padding: 15px !important;

        .options {

            a {
                display: block;
                margin: 0;
                text-align: center;
                margin-bottom: 20px;
            }

        }

        h1 {
            display: block !important;
            padding: 0 !important;
        }

    }

}
