@import "./components/Colors.scss";

.login {
    padding: 8em 0 2em 0;

    .form {
        margin-top: 2.6em;

        .form-group {

        }

        .options {
            padding-left: 160px;

            &>div {

                a:not(.register-btn), p {
                    display: inline-block;
                    float: left;
                    margin: 16px 0;
                    padding-left: 28px;
                }

                a:not(.register-btn) {
                    color: $orange;
                    text-decoration: underline;
                }

                p {
                    font-weight: 700;
                }

                .register-btn, .login-btn {
                    padding: 16px 32px;
                    color: white;
                    border-radius: 5px;
                    float: right;
                    font-weight: 600;
                    font-size: 1.2em;

                    &.login-btn {
                        background-color: $orange !important;
                    }

                    &.register-btn {
                        background-color: $black-light;
                    }

                }

            }

            hr {
                border-top-color: $grey;
                margin: 36px 0 !important;
            }

        }

    }

    @media (max-width: 620px) {

        .options {
            padding: 0 !important;

            a:not(.register-btn), p {
                padding-left: 0px !important;
            }

        }

    }

    @media (max-width: 450px) {

        .options {
            text-align: center;
            margin-top: 20px;

            a, p, button {
                display: block !important;
                width: 100%;
                text-align: center;
                margin: 0 !important;
            }

            p, .restore-password-btn {
                margin-bottom: 12px !important;
            }

            hr {
                margin: 16px 0 !important;
            }

        }

    }

}
