.login {
  padding: 8em 0 2em 0; }
  .login .form {
    margin-top: 2.6em; }
    .login .form .options {
      padding-left: 160px; }
      .login .form .options > div a:not(.register-btn), .login .form .options > div p {
        display: inline-block;
        float: left;
        margin: 16px 0;
        padding-left: 28px; }
      .login .form .options > div a:not(.register-btn) {
        color: #FFA34D;
        text-decoration: underline; }
      .login .form .options > div p {
        font-weight: 700; }
      .login .form .options > div .register-btn, .login .form .options > div .login-btn {
        padding: 16px 32px;
        color: white;
        border-radius: 5px;
        float: right;
        font-weight: 600;
        font-size: 1.2em; }
        .login .form .options > div .register-btn.login-btn, .login .form .options > div .login-btn.login-btn {
          background-color: #FFA34D !important; }
        .login .form .options > div .register-btn.register-btn, .login .form .options > div .login-btn.register-btn {
          background-color: #333; }
      .login .form .options hr {
        border-top-color: #929292;
        margin: 36px 0 !important; }
  @media (max-width: 620px) {
    .login .options {
      padding: 0 !important; }
      .login .options a:not(.register-btn), .login .options p {
        padding-left: 0px !important; } }
  @media (max-width: 450px) {
    .login .options {
      text-align: center;
      margin-top: 20px; }
      .login .options a, .login .options p, .login .options button {
        display: block !important;
        width: 100%;
        text-align: center;
        margin: 0 !important; }
      .login .options p, .login .options .restore-password-btn {
        margin-bottom: 12px !important; }
      .login .options hr {
        margin: 16px 0 !important; } }
