@import './components/Colors.scss';

@font-face { font-family: 'Noto Sans'; font-style: normal; font-weight: 400; src: url('./fonts/noto-sans-v9-latin-regular.eot'); src: local('Noto Sans'), local('NotoSans'), url('./fonts/noto-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/noto-sans-v9-latin-regular.woff2') format('woff2'), url('./fonts/noto-sans-v9-latin-regular.woff') format('woff'), url('./fonts/noto-sans-v9-latin-regular.ttf') format('truetype'), url('./fonts/noto-sans-v9-latin-regular.svg#NotoSans') format('svg'); }
@font-face { font-family: 'Noto Sans'; font-style: normal; font-weight: 700; src: url('./fonts/noto-sans-v9-latin-700.eot'); src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('./fonts/noto-sans-v9-latin-700.eot?#iefix') format('embedded-opentype'), url('./fonts/noto-sans-v9-latin-700.woff2') format('woff2'), url('./fonts/noto-sans-v9-latin-700.woff') format('woff'), url('./fonts/noto-sans-v9-latin-700.ttf') format('truetype'), url('./fonts/noto-sans-v9-latin-700.svg#NotoSans') format('svg'); }
@font-face { font-family: 'Noto Sans'; font-style: italic; font-weight: 400; src: url('./fonts/noto-sans-v9-latin-italic.eot'); src: local('Noto Sans Italic'), local('NotoSans-Italic'), url('./fonts/noto-sans-v9-latin-italic.eot?#iefix') format('embedded-opentype'), url('./fonts/noto-sans-v9-latin-italic.woff2') format('woff2'), url('./fonts/noto-sans-v9-latin-italic.woff') format('woff'), url('./fonts/noto-sans-v9-latin-italic.ttf') format('truetype'), url('./fonts/noto-sans-v9-latin-italic.svg#NotoSans') format('svg'); }
@font-face { font-family: 'Noto Sans'; font-style: italic; font-weight: 700; src: url('./fonts/noto-sans-v9-latin-700italic.eot'); src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url('./fonts/noto-sans-v9-latin-700italic.eot?#iefix') format('embedded-opentype'), url('./fonts/noto-sans-v9-latin-700italic.woff2') format('woff2'), url('./fonts/noto-sans-v9-latin-700italic.woff') format('woff'), url('./fonts/noto-sans-v9-latin-700italic.ttf') format('truetype'), url('./fonts/noto-sans-v9-latin-700italic.svg#NotoSans') format('svg'); }

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-ExtraBold.eot');
  src: url('./fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg'),
       url('./fonts/Gilroy-ExtraBold.ttf') format('truetype'),
       url('./fonts/Gilroy-ExtraBold.woff') format('woff'),
       url('./fonts/Gilroy-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-right: 0 !important;
    overflow: hidden;
    height: 100vh;
}

* {
    font-family: "Noto Sans";
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 800 !important;
    font-family: 'Gilroy' !important;
}

// h1, h2, h3, h4, h5, h6, p {
//     color: $black-light !important;
// }

label, span {
    color: $black-light;
}

*:focus {
    outline: 0 !important;
}

.form-control:focus {
    border-color: inherit !important;
    box-shadow: none !important;
}

input {
    -webkit-appearance: none !important;
}

button[data-enabled="false"] {
    opacity: 0.6;
}

.modal-open {
    overflow: hidden !important;
}

.hide {
    display: none !important;
}

.main-container {
    max-width: 1120px;
    width: 100%;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;

    @media (max-width: 380px) {
        padding-right: 20px;
        padding-left: 20px;
    }

}

input:disabled {
    opacity: 0.6;
}

.button {
    font-family: Gilroy;
    padding: 12px 24px;
    border: 1px solid $orange;
    color: $orange;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;

    &.primary {
        background: $orange;
        color: white;
        margin-right: 20px;
    }

    &:hover, &:active, &:visited {
        text-decoration: none;
        color: $orange;

        &.primary {
            color: white;
        }

    }

}

.form-group {

    label {
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
    }

    span {
        font-size: 0.86em;
        display: inline-block;
        margin-bottom: 12px;
    }

    input {
        width: 100%;
        border: none;
        background-color: whitesmoke;
        border-bottom: 4px;
        overflow: hidden;
        padding: 6px 12px;
    }

}

.error-msg {
    color: $red;
    margin-top: 20px;
}

.spinner {
    animation: rotate 2s linear infinite;
    width: 50px;
    height: 50px;

    & .path {
        stroke: $orange;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 150;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -124;
        }
    }

}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 760px) {

    body {
        height: unset;
        overflow: unset;
    }

}
