.register-page {
  background: #333;
  min-height: 100vh;
  align-items: center;
  display: flex; }
  .register-page .main-container {
    width: 400px;
    background-color: white;
    border-radius: 8px;
    padding: 20px; }
    .register-page .main-container h1 {
      font-size: 2.4rem;
      margin-bottom: 20px; }
    .register-page .main-container button {
      border-radius: 8px;
      text-transform: uppercase; }
    .register-page .main-container .terms {
      margin-bottom: 12px; }
