@import "./components/Colors.scss";

.register-page {
    background: $black-light;
    min-height: 100vh;
    align-items: center;
    display: flex;

    .main-container {
        width: 400px;
        background-color: white;
        border-radius: 8px;
        padding: 20px;

        h1 {
            font-size: 2.4rem;
            margin-bottom: 20px;
        }

        button {
            border-radius: 8px;
            text-transform: uppercase;
        }

        .terms {
            margin-bottom: 12px;
        }

    }

}
