.templates-page {
  background-color: #333333;
  height: calc(100vh - 75px); }
  .templates-page .intro {
    margin: 2.8em 0; }
    .templates-page .intro h1, .templates-page .intro p {
      max-width: 540px;
      color: white;
      text-align: center;
      margin: auto; }
    .templates-page .intro h1 {
      margin-bottom: 12px; }
    .templates-page .intro p {
      font-size: 1.1em; }
  .templates-page .my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    /* gutter size offset */
    width: auto; }
  .templates-page .my-masonry-grid_column {
    padding-left: 20px;
    /* gutter size */
    background-clip: padding-box; }
  .templates-page .my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    background: #444;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer; }
    .templates-page .my-masonry-grid_column > div h2 {
      font-weight: 700 !important;
      font-size: 1.4em;
      color: white;
      margin-bottom: 10px;
      font-family: "Noto Sans" !important; }
    .templates-page .my-masonry-grid_column > div .subreddits {
      margin-bottom: 10px; }
      .templates-page .my-masonry-grid_column > div .subreddits span {
        display: inline-block;
        padding: 2px 8px;
        background-color: white;
        color: #333;
        border-radius: 3px;
        margin-right: 10px; }
    .templates-page .my-masonry-grid_column > div p {
      color: white;
      margin-bottom: 0; }
  .templates-page .contact {
    margin-top: 2.2em; }
    .templates-page .contact a {
      margin: auto;
      max-width: 232px;
      text-align: center;
      display: block; }
