.templates-page {
    background-color: #333333;
    height: calc(100vh - 75px);

    .intro {
        margin: 2.8em 0;

        h1, p {
            max-width: 540px;
            color: white;
            text-align: center;
            margin: auto;
        }

        h1 {
            margin-bottom: 12px
        }

        p {
            font-size: 1.1em;
        }

    }

    .my-masonry-grid {
        display: -webkit-box; /* Not needed if autoprefixing */
        display: -ms-flexbox; /* Not needed if autoprefixing */
        display: flex;
        margin-left: -30px; /* gutter size offset */
        width: auto;
    }
    .my-masonry-grid_column {
        padding-left: 20px; /* gutter size */
        background-clip: padding-box;
    }

    .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
        background: #444;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        cursor: pointer;

        h2 {
            font-weight: 700 !important;
            font-size: 1.4em;
            color: white;
            margin-bottom: 10px;
            font-family: "Noto Sans" !important
        }

        .subreddits {
            margin-bottom: 10px;

            span {
                display: inline-block;
                padding: 2px 8px;
                background-color: white;
                color: #333;
                border-radius: 3px;
                margin-right: 10px;
            }

        }

        p {
            color: white;
            margin-bottom: 0
        }

    }

    .contact {
        margin-top: 2.2em;

        a {
            margin: auto;
            max-width: 232px;
            text-align: center;
            display: block;
        }

    }

}
