.terms-page {
  overflow: auto;
  height: calc(100vh - 75px); }
  .terms-page ul {
    padding-inline-start: 40px; }
  .terms-page h2, .terms-page h3, .terms-page p, .terms-page li {
    color: white; }
