.terms-page {
    overflow: auto;
    height: calc(100vh - 75px);

    .main-container {

    }

    ul {
        padding-inline-start: 40px;
    }

    h2, h3, p, li {
        color: white;
    }

}
