.channel-editor-modal {

    .body {
        padding: 20px;

        .rules {

            .rule, .ruleGroup {
                margin-left: 10px;
            }

            .ruleGroup-header {
                margin-top: 10px;
            }

            .rule {
                display: flex;
                margin-top: 8px;

                .rule-fields {
                    display: none;
                }

                .rule-operators  {

                }

                .rule-value {
                    margin-left: 8px;
                }

            }

        }

        .queryBuilder {
            margin-bottom: 8px;

            &>.ruleGroup {
                margin-left: 0;
            }

        }

        .explain {
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .form-group.subreddits {

            .tag-wrapper {
                opacity: 1;
                cursor: move;
                padding: 8px 14px;
                position: relative;
                top: -1px;
                background: #cbcbcb;
                display: inline-block;
                border-radius: 3px;
                margin-right: 8px;

                a {
                    display: inline-block;
                    margin-left: 8px;
                }

            }

            .ReactTags__tagInput {
                display: inline-block;

                .ReactTags__tagInputField {
                    display: inline-block;
                    width: 280px;
                }

            }

        }

        .primary {
            margin-top: 20px;
        }

    }

}
