.channel-editor-modal .body {
  padding: 20px; }
  .channel-editor-modal .body .rules .rule, .channel-editor-modal .body .rules .ruleGroup {
    margin-left: 10px; }
  .channel-editor-modal .body .rules .ruleGroup-header {
    margin-top: 10px; }
  .channel-editor-modal .body .rules .rule {
    display: flex;
    margin-top: 8px; }
    .channel-editor-modal .body .rules .rule .rule-fields {
      display: none; }
    .channel-editor-modal .body .rules .rule .rule-value {
      margin-left: 8px; }
  .channel-editor-modal .body .queryBuilder {
    margin-bottom: 8px; }
    .channel-editor-modal .body .queryBuilder > .ruleGroup {
      margin-left: 0; }
  .channel-editor-modal .body .explain {
    margin-top: 12px;
    margin-bottom: 12px; }
  .channel-editor-modal .body .form-group.subreddits .tag-wrapper {
    opacity: 1;
    cursor: move;
    padding: 8px 14px;
    position: relative;
    top: -1px;
    background: #cbcbcb;
    display: inline-block;
    border-radius: 3px;
    margin-right: 8px; }
    .channel-editor-modal .body .form-group.subreddits .tag-wrapper a {
      display: inline-block;
      margin-left: 8px; }
  .channel-editor-modal .body .form-group.subreddits .ReactTags__tagInput {
    display: inline-block; }
    .channel-editor-modal .body .form-group.subreddits .ReactTags__tagInput .ReactTags__tagInputField {
      display: inline-block;
      width: 280px; }
  .channel-editor-modal .body .primary {
    margin-top: 20px; }
