.navbar-container {
    display: none;
    margin-bottom: 15px;

    .main-container {
        max-width: 1120px;
        padding: 0;
        margin: auto;
        background-color: #444;
        border-radius: 0 0 4px 4px;
        overflow: hidden;
    }

    nav {
        padding: 0 12px 0 0;

        .navbar-brand {
            padding: 0;

            .logo {
                width: 60px;
            }

        }

    }

    .nav-link {
        color: white !important;
    }

    .navbar-toggler {
        color: white;

        span {
            color: white;
        }

    }

}

#root>div[data-url*="/dashboard"],
#root>div[data-url*="/terms"],
#root>div[data-url*="/about"],
#root>div[data-url*="/templates"],
{

    .navbar-container {
        display: block;
    }

}

@media (max-width: 768px) {

    .navbar-nav {
        padding: 10px 20px !important;
    }

}
