.navbar-container {
  display: none;
  margin-bottom: 15px; }
  .navbar-container .main-container {
    max-width: 1120px;
    padding: 0;
    margin: auto;
    background-color: #444;
    border-radius: 0 0 4px 4px;
    overflow: hidden; }
  .navbar-container nav {
    padding: 0 12px 0 0; }
    .navbar-container nav .navbar-brand {
      padding: 0; }
      .navbar-container nav .navbar-brand .logo {
        width: 60px; }
  .navbar-container .nav-link {
    color: white !important; }
  .navbar-container .navbar-toggler {
    color: white; }
    .navbar-container .navbar-toggler span {
      color: white; }

#root > div[data-url*="/dashboard"] .navbar-container,
#root > div[data-url*="/terms"] .navbar-container,
#root > div[data-url*="/about"] .navbar-container,
#root > div[data-url*="/templates"] .navbar-container {
  display: block; }

@media (max-width: 768px) {
  .navbar-nav {
    padding: 10px 20px !important; } }
