.post {
  padding: 16px 0 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .post h3 {
    font-family: "Noto Sans";
    font-weight: 700;
    color: white;
    font-size: 1.2em; }
    .post h3 span {
      background-color: #FFA34D;
      border-radius: 3px;
      padding: 2px 6px 1px 6px;
      font-weight: 800;
      margin-right: 10px;
      color: white;
      font-family: Gilroy;
      display: inline-block;
      position: relative;
      top: -1px;
      font-size: 0.8em; }
  .post .body-thumbnail {
    display: flex; }
    .post .body-thumbnail .body {
      flex-basis: calc(100% - 120px);
      width: calc(100% - 120px);
      padding-left: 15px; }
    .post .body-thumbnail .thumbnail {
      flex-basis: 120px;
      width: 120px; }
  .post .body {
    font-size: 1em;
    cursor: pointer; }
    .post .body span {
      color: white; }
    .post .body mark {
      margin: 0 6px;
      border-radius: 3px; }
    .post .body .show-more-indicator {
      color: white;
      font-weight: 700;
      padding-left: 12px; }
  .post img {
    width: 100%; }
  .post .links {
    margin: 16px 0; }
    .post .links a {
      display: block;
      margin-bottom: 4px; }
      .post .links a span {
        color: white; }
        .post .links a span:first-of-type {
          font-weight: 700; }
      .post .links a svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        display: inline-block; }
        .post .links a svg path, .post .links a svg line {
          stroke: white !important; }
  .post .options {
    margin-top: 8px; }
    .post .options button {
      background-color: transparent;
      cursor: pointer;
      margin-right: 6px; }
      .post .options button svg {
        height: 15px;
        width: auto;
        fill: white;
        cursor: pointer; }
        .post .options button svg path {
          stroke: white !important; }
      .post .options button label {
        color: white;
        padding-left: 8px;
        position: relative;
        top: 1px;
        cursor: pointer;
        word-break: break-all; }
      .post .options button:first-child {
        padding-left: 0; }
  .post video {
    width: 100%; }
