@import './Colors.scss';

.post {
    padding: 16px 0 8px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);

    h3 {
        font-family: "Noto Sans";
        font-weight: 700;
        color: white;
        font-size: 1.2em;

        span {
            background-color: $orange;
            border-radius: 3px;
            padding: 2px 6px 1px 6px;
            font-weight: 800;
            margin-right: 10px;
            color: white;
            font-family: Gilroy;
            display: inline-block;
            position: relative;
            top: -1px;
            font-size: 0.8em;
        }

    }

    .body-thumbnail {
        display: flex;

        .body {
            flex-basis: calc(100% - 120px);
            width: calc(100% - 120px);
            padding-left: 15px;
        }

        .thumbnail {
            flex-basis: 120px;
            width: 120px;
        }

    }

    .body {
        font-size: 1em;
        cursor: pointer;

        span {
            color: white;
        }

        mark {
            margin: 0 6px;
            border-radius: 3px;
        }

        .show-more-indicator {
            color: white;
            font-weight: 700;
            padding-left: 12px;
        }

    }

    .thumbnail {

    }

    .big-preview {

    }

    img {
        width: 100%;
    }

    .links {
        margin: 16px 0;

        a {
            display: block;
            margin-bottom: 4px;

            span {
                color: white;

                &:first-of-type {
                    font-weight: 700;
                }

            }

            svg {
                width: 20px;
                height: 20px;
                margin-right: 8px;
                display: inline-block;

                path, line {
                    stroke: white !important;

                }

            }

        }

    }

    .options {
        margin-top: 8px;

        button {
            background-color: transparent;
            cursor: pointer;
            margin-right: 6px;

            svg {
                height: 15px;
                width: auto;
                fill: white;
                cursor: pointer;

                path {
                    stroke: white !important;
                }

            }

            label {
                color: white;
                padding-left: 8px;
                position: relative;
                top: 1px;
                cursor: pointer;
                word-break: break-all;
            }

            &:first-child {
                padding-left: 0;
            }

        }

    }

    video {
        width: 100%;
    }

}
